/* hw section */
@import 'simplelightbox/dist/simple-lightbox.min.css';
/*Importing from js makes it impossible to override. This seems to work.*/
/* @import url('./timer.css');
@import url('./snackbar.css'); */

/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

form.form {
  margin: 0 auto 32px;
  display: flex;

  button[type='submit'] {
    margin-left: 8px;
    width: 91px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
  }

  input[name='search-text'] {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;

    border-radius: 4px;
    width: 272px;
    height: 40px;

    /* color: #ff0000; */
    border-radius: 4px;
  }
  input:active,
  input:focus {
    border: 1px solid #4e75ff;
    background: #fff;
  }
}

button.load-more {
  margin-top: 32px;
  width: 125px;
}

input {
  /*fuck user-agent-styleshit*/
  /* prevent anything that tries to change this from ever getting there */
  transition: color calc(infinity * 1s) step-end,
    background-color calc(infinity * 1s) step-end;

  /* style the field as normal */
  background-color: transparent;
  color: CanvasText;
}
/* #region timer */
input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  border: transparent;
  border: 1px solid #808080;
  padding: 8px 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  /* margin-top: 50px; */
  /* margin-left: 600px; */
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  /* width: 75px; */
  /* height: 40px; */
  border: transparent;
  background-color: #cfcfcf;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #989898;
  cursor: pointer;
}
button.active {
  background-color: rgb(127, 76, 167);
  color: white;
}
button:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}
/* #endregion */

/* #region task-3 (goit-js-hw-07) */
input {
  /* display: block; */
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  /* width: 100%; */
  /* width: 360px; */
  /*height: 40px; */

  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  /* text-emphasis-color: #fff; */
}

input:hover {
  outline: none;
  border: 1px solid #000;
}

input:active,
input:focus {
  outline: none;
  border: 1px solid #808080;

  color: #2e2f42;
}
/* #endregion */

/* #region task-4 (goit-js-hw-07) */

button {
  background: #4e75ff;
  /* margin: 0; */
  /* padding: 0; */
  /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px; */
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  padding: 8px 16px;
  /* height: 40px; */

  /* font-weight: 500; */
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background: #6c8cff;
}
/* #endregion */
/* #region */

/*  */
textarea {
  display: block;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  /* width: 100%; */
  width: 360px;
  height: 80px;

  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-emphasis-color: #fff;
}

textarea:hover {
  outline: none;
  border: 1px solid #000;
}
/* #endregion */

/* #region gallery */
* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  border: 0;
}

body {
  /* margin: 24px; */
  padding: 36px;
}

.gallery {
  /*  */
  width: calc(100% - mod(100%, 360px + 24px));
  /* transform: translateX(calc(20% - 200px)); */
  /* margin-left: 200px; */
  list-style-type: none;
  /* max-width: 1128px; */
  /* height: 200px; */
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 24px;

  /* margin: 0 auto; */
  padding: 0px auto;
  /* .gallery-item:nth-child(even) {
    margin-right: auto;
  }
  .gallery-item:nth-child(odd) {
    margin-left: auto;
   } */
  /* .gallery-item:last-child { */
  /* align-self: flex-end; */
  /* margin-right: auto; */
  /* margin-right: 50vw; */
  /* margin-left: 0; */
  /* flex: 1 0 3%; */
  /* width: 100%; */
  /* } */
}
/* .gallery:before, */
/* .gallery:after { */
/* content: ''; */
/* height: 200px; */
/* width: 360px; */
/* flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 360px; */
/* } */

.gallery-item {
  /* margin: auto; */
  /* margin-left: auto; */
  position: relative;
  width: 360px;
  /* height: 200px; */
  /* margin: auto; */
  display: flex;
  flex-direction: column;
}

.gallery-link {
  height: 200px;
  width: 360px;
}
.gallery-image {
  border: solid 1px #808080;
  /* position: absolute; */

  width: 360px;
  height: 200px;
  max-width: none;
  /* left: 50%;
  top: 50%; */
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 40%; */
  /* transform: translate(-50%, -50%); */
}

/* .gallery-image:hover {
  width: 376px;
  height: 208px;
} */

.image-info {
  text-align: center;
  width: 100%;
  width: 360px;
  height: 48px;
  border: solid 1px #808080;
  border-top: none;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  background: white;
  /* position: relative; */
  padding: 4px 0;

  font-family: 'Montserrat', sans-serif;
  /* font-weight: 600; */
  font-size: 12px;

  letter-spacing: 0.04em;
  color: #2e2f42;

  p {
    /* font-weight: 400; */
    font-size: 12px;

    line-height: 2; /* line-height: 24px; */
    letter-spacing: 0.04em;
    color: #2e2f42;
  }
}
/* #endregion */

/* #region DEFAULT_SIMPLELIGHTBOX_OVERRIDE */
/* .sl-wrapper .sl-image img {
  max-width: 1112px;
  max-height: 640px;
} */ /*breaks the image*/

.sl-overlay {
  /* background: #fff; */
  background: rgba(46, 47, 66, 0.8);
}
/* #endregion DEFAULT_SIMPLELIGHTBOX_OVERRIDE */

/* #region loader */
.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;

  margin: auto;
}
.loader:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #ff9371;
  box-shadow: 32px -34px 0 5px #ff3d00;
  animation: slide 2s infinite ease-in-out alternate;
}
.loader:after {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff3d00;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0%,
  100% {
    bottom: -35px;
  }
  25%,
  75% {
    bottom: -2px;
  }
  20%,
  80% {
    bottom: 2px;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }
  25%,
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(25deg);
  }
}

.hidden {
  display: none;
}
/* #endregion loader */
